<template>
    <section>
        <h3>Forecast</h3>
        <span>({{this.city}})</span><br/>
    </section>
</template>

<script>

    export default {

        props:['city'],

        data: function () {
            return {
                ciutatActual:
                    {
                        "coord":{"lon":138.933334,"lat":34.966671},
                        "country":"JP",
                        "cod":"200",
                        "message":0.0045,
                        "cnt":38,
                        "list":[{
                            "dt":1406106000,
                            "main":{
                                "temp":298.77,
                                "temp_min":298.77,
                                "temp_max":298.774,
                                "pressure":1005.93,
                                "sea_level":1018.18,
                                "grnd_level":1005.93,
                                "humidity":87,
                                "temp_kf":0.26},
                            "weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],
                            "clouds":{"all":88},
                            "wind":{"speed":5.71,"deg":229.501},
                            "sys":{"pod":"d"},
                            "dt_txt":"2014-07-23 09:00:00"}]
                        }

                    }
            },

        methods: {
            async crida(ciutat) {
                var url = 'https://api.openweathermap.org/data/2.5/forecast?q=' + ciutat + '&units=metric&lang=ca&appid=f87317bd4e1e67eaf66d12d64449e177';

                try {
                    var response = await fetch(url);
                    var data = await response.json();

                    this.ciutatActual = data;
                }
                catch(err) {
                    this.console.log(err);
                }
            }
        },

        created: function () {
            this.crida(this.city);
        },

        watch: {
            city: function(value){

                this.crida(value);
            }
        }
    };
</script>

<style src="../../style.css"></style>