<template>
    <section class="container notification content is-large ">
        <span class="custom-dropdown small">
        <select class="select" v-model="ciutatSelected">
          <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat"> {{ ciutat }} </option>
        </select>
        </span>
        <current v-bind:city="ciutatSelected"></current>
        <forecast v-bind:city="ciutatSelected"></forecast>
    </section>
</template>

<script>
    import currentWeather from "./CurrentWeather.vue";
    import forecast from "./Forecast.vue";

    export default {
        props:['llistaCiutats'],

        data: function () {
            return {
                ciutatSelected: ""
            }
        },

        created: function () {
            this.ciutatSelected = this.llistaCiutats[0];
        },

        components: {
            forecast: forecast,
            current: currentWeather
        }
    }
</script>

<style>

</style>