<template>
    <div id="app">
        <infometeorologica v-bind:llista-ciutats="this.europa"></infometeorologica>
        <infometeorologica v-bind:llista-ciutats="this.asia"></infometeorologica>
        <infometeorologica v-bind:llista-ciutats="this.america"></infometeorologica>

    </div>
</template>

<script>
    import InfoMeteorologica from "./components/InfoMeteorologica.vue";

    export default {
        name: 'app',
        data: function() {
            return {
                europa: [
                    'Barcelona',
                    'Lleida',
                    'Zaragoza',
                    'Sevilla',
                    'Madrid',
                    'Paris',
                    'Melbourne',
                    'Moscow',
                    'Pekin',
                    'Marra' +
                    'kech'],

                asia: [
                    'Pekin',
                    'Tokyo'],

                america: [
                    'New York',
                    'Buenos Aires']
            }
        },
        components: {
            'infometeorologica':InfoMeteorologica
        },

    }
</script>

<style>



</style>